{% load static %}

<section id="faq">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">Perguntas Frenquentes</h3>
          <span class="section-divider"></span>
          <p class="section-description">Perguntas e Dúvidas mais frenquentes sobre a criação e desenvolvimentos de aplicativos mobile</p>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Qual prazo para desenvolver um aplicativo? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Depende da sua complexidade, para projetos de baixa e média complexidade, o prazo varia de 90 a 150 dias.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Quanto custa para desenvolver um aplicativo?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
               Depende muito dos seus requisitos, do tamanho, das funcionalidades e integrações. Nossa equipe está preparada para ajudá-lo neste orçamento, você nos conta sua necessidade e, após rápida análise, apresentamos um valor estimado.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">É possível desenvolver o mesmo aplicativo tanto para Android como para iOS? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Sim, porém, usando as linguagens nativas o aplicativo precisa ser escrito 2 vezes. Usando uma tecnologia híbrida ele é escrito só uma vez sendo assim desenvolvido mais rápido e com um menor custo final.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Um aplicativo tem custos para estar publicados nas lojas? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Sim, tanto para publicação na Google Play como na Apple Store, existem custos de inscrição e anuidade.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Um aplicativo necessita de manutenção e suporte técnico permanente? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Sim, como qualquer outro software, um aplicativo necessita de constantes melhorias e correções. Além disso, ele deve estar sempre em conformidade com as atualizações de versões e dos sistemas operacionais Android e iOS. Caso contrário pode ser até removido das lojas.
              </p>
            </div>
          </li>



        </ul>

      </div>
    </section>