{% load static %}

<section id="about" class="section-bg">
      <div class="container-fluid" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">Sobre Nós</h3>
          <span class="section-divider"></span>
          <p class="section-description">
            A POG Desenvolvimentos é uma Empresa criada para trabalho final da disciplina de Programação III,<br>
            composta por acadêmicos do 4º Período. Fundada 05 de Junho de 2021.

          </p>
        </div>

        <div class="row">
          <div class="col-lg-6 about-img" data-aos="fade-right" dat-aos-delay="100">
            <img src="{% static 'img/about-img.jpg' %}" alt="">
          </div>

          <div class="col-lg-6 content" data-aos="fade-left" dat-aos-delay="100">
            <h2>Hora de tirar aquela ideia do papel com a melhor equipe de programação.</h2>
            <h3>Aumente seu rendimento e capacidade de gerenciamento.</h3>

            <ul>
              <li><i class="bi bi-check-circle"></i> Realizamos projetos de desenvolvimentos mobile; </li>
              <li><i class="bi bi-check-circle"></i> Contamos com o apoio dos professores do IFRO Campus Ariquemes;</li>
              <li><i class="bi bi-check-circle"></i> Entregamos projetos com excelência, gerando os melhores resultados.</li>
            </ul>


          </div>
        </div>

      </div>
    </section>